<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">

    <title>Convert a .pem cert to a string</title>
  </head>
  <body>
    <header>
      <h2>Convert a x509 .pem cert to a single-line string</h2>
    </header>
    <%= yield %>
  </body>
</html>
